*.bak
*.swp
*.iml
*.log
*.orig
*.ipr
*.iws
.idea
/out
server.pid
logs/
tmp/
portal/src/out/**
portal/src/test-result/**
portal/src/modules/**
portal/src/lib/**
portal/src/data/attachments/**
portal/src/data/images/**
application.log
sites/tmpClient*
 
/portal/src/mem.h2.db
/portal/src/mem.lock.db
/portal/src/mem.trace.db

/portal/modules/**/dist/*.zip